.benefits__wrapper {
  width: 100%;
  padding: 130px 89px 0 65px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.benefits__content {
  display: grid;
  grid-template-columns: repeat(2, 425px);
  justify-content: space-between;
}

.benefits__content-column {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 50px;
  &::before {
    position: absolute;
    top: 15px;
    left: 6.5px;
    height: 95%;
    width: 1px;
    background-color: var(--font-color);
    content: '';
  }
  &::after {
    position: absolute;
    top: var(--gap-4);
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    content: '';
  }
}

.benefits__content-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
